<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2016 by LiuFa. All rights reserved
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lfdevelopment.www.app.pcse.mapper.PcseSingleChoiceMapper">
  <select id="getStoreData" resultType="cn.lfdevelopment.www.app.pcse.pojo.PcseSingleChoice">
    SELECT
      *
    FROM pcse_single_choice
  </select>
</mapper>