<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2016 by LiuFa. All rights reserved
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lfdevelopment.www.app.pcse.mapper.PcseSingleChoiceMapper">
  <select id="getStoreData" resultType="cn.lfdevelopment.www.app.pcse.pojo.PcseSingleChoice">
    SELECT
      *
    FROM pcse_single_choice
    <where>
      <if test="title != ''">
        title LIKE '%${title}%'
      </if>
      <if test="updateTimeStart != ''">
        and update_time >= #{updateTimeStart}
      </if>
      <if test="updateTimeEnd != ''">
        and update_time <![CDATA[<=]]> #{updateTimeEnd}
      </if>
      <if test="type != ''">
        and type = ${type}
      </if>
      <if test="isImage != ''">
        and is_image = ${isImage}
      </if>
      <if test="answerRight != ''">
        and answer_right = ${answerRight}
      </if>
    </where>
    order by update_time desc
  </select>
  <select id="removeRepeatChoice" resultType="cn.lfdevelopment.www.app.pcse.pojo.PcseSingleChoice">
    SELECT
      *
    FROM
      pcse_single_choice
    WHERE
      title IN (
        SELECT
          title
        FROM
          (
            SELECT
              title,
              count(*) AS count
            FROM
              pcse_single_choice
            GROUP BY
              title
            HAVING
              count > 1
          ) T
      )
  </select>
</mapper>