.ui-jqgrid .ui-jqgrid-view {
    font-size: 14px;
}

.ui-jqgrid-htable tr, .ui-jqgrid-btable tr {
    height: 45px;
}

.ui-jqgrid .ui-jqgrid-htable TH DIV{
	bgcolor: #00000;
}

.ui-jqgrid .ui-jqgrid-htable TH DIV {
    height: 25px;
    line-height: 25px;
    font-family: Microsoft YaHei
}

.ui-jqgrid .ui-grid-ico-sort {
	top: 5px;
	margin: 0 5px;
	height: 16px;
}