@charset "UTF-8";.popbody{position:relative;background:#fff;}
.aui_outer{text-align:left}
table.aui_border,table.aui_dialog{margin:0;width:auto;border:0;border-collapse:collapse;border-radius:5px}
table.aui_dialog{width:100%;background:#fff}
.aui_c,.aui_e,.aui_footer,.aui_header,.aui_main,.aui_n,.aui_ne,.aui_nw,.aui_s,.aui_se,.aui_sw,.aui_tdIcon,.aui_w{padding:0}
.aui_state_focus .aui_dialog{box-shadow:0 0 3px rgba(0,0,0,.4)}
.aui_title{overflow:hidden;padding-left:20px;height:44px;border-bottom:2px solid #344558;background:#3b4d61;color:#fff;text-overflow:ellipsis;font-size:16px;font-family:"微软雅黑";line-height:44px}
.aui_state_focus .aui_title{border-radius:5px 5px 0 0;color:#fff}
.aui_state_noTitle .aui_title{display:none}
.aui_close{position:absolute;top:0;right:0;display:inline-block;overflow:hidden;width:44px;height:45px;border-radius:0 5px 0;background:url(../images/icon_close.png) no-repeat center center;text-indent:-999px;font:0/0 Arial}
.aui_close:hover{background:#374554 url(../images/icon_close.png) no-repeat center center}
.aui_main{min-width:9em}
.aui_content{border:0;color:#444;text-align:left;font-size:18px;line-height: 24px}
.aui_content.aui_state_full{display:block;margin:0;padding:0!important;width:100%;height:100%}
.aui_icon{vertical-align:middle}
.aui_icon div{margin:12px 0 10px 81px;width:48px;height:48px;background-position:center center;background-repeat:no-repeat}
.aui_buttons{padding:20px 0 20px;border-top:1px solid #eceeef;border-radius:0 0 5px 5px;background:#f4f5f6;text-align:center;white-space:nowrap}
.aui_buttons button{display:inline-block;margin:0 15px;width:95px;height:34px;outline:0;border:0;border-radius:5px;background:#9eb7ce;box-shadow:0 2px 0 0 #91aac2;color:#fff;text-align:center;font:14px/34px Microsoft YaHei;cursor:pointer}
.aui_buttons button:hover{background:#a4adb7;box-shadow:0 2px 0 0 #97a1ac}
.aui_buttons button.aui_state_highlight{background:#01d5be;box-shadow:0 2px 0 0 #01c3b9}
.aui_buttons button.aui_state_highlight:hover{background:#01b3a0;box-shadow:0 2px 0 0 #01a49b;color:#fff;border-bottom-color:#01a49b}
.aui_buttons button:focus{outline:0 none}
.aui_buttons button[disabled]{background:#c6c6c6;color:#fff;cursor:default;border-bottom-color:#b7b7b7}
.aui_inner{background:0 0}
.aui_ne,.aui_nw,.aui_se,.aui_sw{width:0;height:0}
.aui_outer:active,.aui_state_drag .aui_outer{box-shadow:none}
.aui_titleBar{position:relative;height:100%}
.aui_state_drag .aui_titleBar{box-shadow:none}
.aui_close:active{box-shadow:none}
.aui_state_noTitle .aui_ne,.aui_state_noTitle .aui_nw,.aui_state_noTitle .aui_se,.aui_state_noTitle .aui_sw{width:3px;height:3px}
.aui_state_noTitle .aui_inner{border:1px solid #666;background:none repeat scroll 0 0 #fff}
.aui_state_noTitle .aui_outer{border:0 none;box-shadow:none}
.aui_state_noTitle .aui_e,.aui_state_noTitle .aui_n,.aui_state_noTitle .aui_ne,.aui_state_noTitle .aui_nw,.aui_state_noTitle .aui_s,.aui_state_noTitle .aui_se,.aui_state_noTitle .aui_sw,.aui_state_noTitle .aui_w{background:none repeat scroll 0 0 rgba(0,0,0,.05)}
.aui_state_noTitle .aui_titleBar{bottom:0}
.aui_state_noTitle .aui_close{top:0;right:0;width:18px;height:18px;background:none repeat scroll 0 0 rgba(0,0,0,0);color:#214fa3;text-align:center;text-decoration:none;text-indent:0;font-size:18px;line-height:18px}
.aui_state_noTitle .aui_close:active,.aui_state_noTitle .aui_close:hover{color:#900;text-decoration:none}
.aui_state_noTitle .aui_dialog{box-shadow:none}
.aui_loading, .aui_waiting {  background: #fff url(../images/icons/loading.gif) 25px center no-repeat;  line-height: 25px;  text-align: left;  width: 200px;  color: #444;  padding: 10px 25px 10px 70px;  font-size: 13px;  }
.aui_waiting {  width: auto;  padding: 20px 25px 20px 70px;  min-width: 100px;  max-width: 200px;  }
.popup{background:#fff;font-size:14px;font-family:"微软雅黑"}
.popup table th{font-weight:400}
.popup table th{margin-left:13px;padding-bottom:20px;text-align:right;white-space:nowrap}
.popup table td{margin-left:13px;padding-bottom:20px}
.publicTable table td{padding-bottom:12px}
#popAddModule .popup table td,#popAddModule .popup table th{padding-bottom:18px}
.popup table th b{position:relative;top:3px;margin-right:5px;color:#ff6f61}
.popup table td b{margin-right:5px;color:#ff6f61}
.popup table select{width:198px;height:34px}
.popup .txt{margin-left:9px;padding:5px;height:20px;border:1px solid #c7c7c7;text-indent:5px;line-height:20px}
.border-r-none{border-right:none}
.input-text{float:left;margin-left:9px;padding:5px;width:215px;height:20px;border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;border-left:1px solid #c7c7c7;text-indent:5px;line-height:20px}
.input-text-focus{border-top:1px solid #01d5be;border-bottom:1px solid #01d5be;border-left:1px solid #01d5be}
.input-submit{display:inline-block;padding:5px;width:50px;height:32px;border-bottom:2px solid #01c3b9;background:#01d5be;color:#fff;text-align:center;cursor:pointer}
.input-submit-focus{border-bottom:2px solid #00b4ab;background:#00c5b0}
.input-submit:hover{border-bottom:2px solid #01a49b;background:#01b3a0}
input{border:none}
.popup textarea{padding:6px 15px 0 10px;width:333px;height:48px;border:1px solid #c8c8c8;letter-spacing:.6px;line-height:150%}
#popModifyTopic textarea{margin-left:6px}
#popModifyTopic .txtBlock textarea{width:314px}
#popTestCompleteStatus{margin-bottom:0;padding:10px 20px 0 20px}
#popAddModule textarea{padding:5px;width:348px;height:20px}
#popAddModule{padding-top:21px;padding-left:40px}
#popAddModule .txtBlock .txtItem i{top:-4px;left:0}
#popModifyTopic.single-select{margin-left:6px}
.popup .single-select .boxwrap{width:358px}
.popup .select-items ul{width:358px}
.popup .select-items ul.w225{width:225px}
.popup p.remarks{color:#f9a241;font-size:12px}
#popAddclass{padding-top:20px;padding-right:20px;padding-left:20px}
#popAddclass .classItem{padding:15px 10px 0 10px;width:507px;height:63px;border:1px solid #c8c8c8}
#popAddclass .classItem li{float:left;padding-right:20px;padding-bottom:20px}
#popAddclass .txt{float:none;width:517px}
#popAddclass .preview{display:inline-block;margin-left:5px;width:16px;height:16px;background-position:-180px -120px;vertical-align:middle}
#popPreparation{padding-top:30px;padding-right:20px;padding-left:20px}
#popPreparation p{padding-bottom:10px}
#popPreparation p i{display:inline-block;margin:-2px 5px 0 5px;width:24px;height:14px;border-radius:3px;background:#d4f1e7;vertical-align:middle}
#popPreparation p i.not{background:#e2e2e2}
#popPreparation .classItem{overflow:auto;margin-bottom:20px;padding:10px 0 5px 12px;max-height:143px;border:1px solid #d2d2d2}
#popPreparation .classItem h3{padding-bottom:10px;color:#444;font-size:14px}
#popPreparation .classItemlist li{position:relative;float:left;margin:0 5px 5px 0;padding:0 20px 0 10px;width:61px;height:22px;border:1px solid #d5edeb;border-radius:3px;background:#e2f7f0;line-height:24px;cursor:pointer}
#popPreparation .classItemlist li.eliminate{border-color:#ebebeb;background:#ebebeb}
#popPreparation .classItemlist li b{position:absolute;top:5px;right:5px;display:none;width:14px;height:14px}
#popPreparation .classItemlist li b.enter{background-position:-166px -120px}
#popPreparation .classItemlist li b.remove{background-position:-150px -120px}
#popPreparation .classItemlist li.hover{border:solid 1px #e2e2e2;background:#e2e2e2}
#popPreparation .classItemlist li.hover b.remove{display:block}
#popPreparation .classItemlist li.eliminate{background:#e2e2e2}
#popPreparation .classItemlist li.eliminate:hover{background:#ddd}
#popPreparation .classItemlist li.eliminate:hover b.enter{display:block}
#popExperimentInfo{padding-top:30px}
#popExperimentInfo td,#popExperimentInfo th{padding-bottom:25px}
.notScoreList li{float:left;padding-right:20px;line-height:36px}
#popModularShow{padding-right:20px}
.ModularShow h3{padding-bottom:20px;color:#444}
.ModularItem{display:inline-block;width:722px}
.ModularItem .tit{float:left;margin-right:.41551%;width:13.14789%;height:90px;color:#fff;text-align:center;line-height:90px}
.ModularItem ul{float:left;width:86.43659%}
.ModularItem ul li{float:left;margin:0 7px 14px 7px;padding:5px 12px 5px 15px;width:9.7745915%;height:78px;border:1px solid #d5edeb;font-size:12px;font-family:Simsun;line-height:20px;overflow:hidden}
.ModularItem.blue .tit{background:#01d5be}
.ModularItem.blue li{background:#e2f7f0}
.ModularItem.yellow .tit{background:#58c9f3}
.ModularItem.yellow li{border-color:#d3f3ff;background:#e9f9ff}
.ModularItem.orange .tit{background:#ff6f61}
.ModularItem.orange li{border-color:#ffafa7;background:#ffdad6}
#popEditTitle{padding-top:20px}
#popEditTitle .select-items ul,#popEditTitle .single-select .boxwrap{width:372px}
#popEditTitle textarea{width:362px;height:45px}
#popEditTitle .txtItem span.num{float:left;padding-right:5px;line-height:32px}
#popEditTitle a.addtxtItem{margin-left:15px}
#popEditTitle .txtItem textarea{width:347px}
#popReleaseChapter{padding-top:150px;padding-left:40px}
#popMap .mapTab li{float:left}
#popMap .mapCont{padding-top:30px}
.txtBlock .txtItem{float:left;display:inline-block;padding-bottom:20px;text-indent:6px}
.txtBlock .txtItem span{position:relative;top:-18px}
.txtBlock .txtItem i{position:relative;top:-17px;display:inline-block;margin-top:10px;margin-left:10px;width:14px;height:14px;background-position:-76px -120px;cursor:pointer}
.txtBlock .txtItem i:hover{background-position:-76px -136px}
a.addtxtItem{float:left;display:inline-block;width:358px;height:30px;border:1px dotted #01d5be;color:#019e8d;text-align:center;line-height:30px}
#popEditBSCIndex td,#popEditBSCIndex th{padding-bottom:25px}
#popReleaseChapter{padding-top:60px}
#popAddKPIFirst{padding:50px 20px 0 40px}
#popAddKPIFirst table td,#popAddKPIFirst table th{padding-bottom:25px}
#popAddKPIFirst .select-items ul{max-height:105px}
#popEditKPIFirst{padding:50px 40px 0 40px}
#popEditKPIFirst table td,#popEditKPIFirst table th{padding-bottom:30px}
#popAddKPISecond{padding:30px 20px 0 40px}
#popAddKPISecond .select-items ul{max-height:105px}
#popEditKPISecond{padding:40px 20px 0 40px}
#popEditKPISecond table td,#popEditKPISecond table th{padding-bottom:30px}
#popEditKPIIndex table td,#popEditKPIIndex table th{padding-bottom:25px}
.Elements{padding:10px 8px 0 8px;width:343px;border:1px solid #c8c8c8}
.Elements i{display:block;margin-bottom:15px}
.popup td.caseList{padding-bottom:5px}
.caseList ul{width:412px}
.caseList ul li{float:left;padding-bottom:15px;width:135px}
#popEditCaseTopic .txtItem i{display:inline-block;margin-left:10px;width:14px;height:14px;background-position:-76px -120px;cursor:pointer}
#popEditCaseTopic .txtItem i:hover{background-position:-76px -136px}
#popAddTips .single-select .boxwrap{width:238px}
#popAddTips .select-items ul{width:238px}
#popAddTips textarea{padding:0;width:692px;height:310px}
#popTargetChoose{padding-right:20px}
#popTargetChoose table th{padding-right:10px}
.target ul.targrttab{overflow:hidden;border-left:1px solid #c9dbeb}
.target ul.targrttab li{float:left}
.target ul.targrttab li a{display:inline-block;padding:0 8px;height:26px;border:1px solid #c9dbeb;border-left:0;background:#e7f1fa;color:#444;line-height:26px}
.target ul.targrttab li a.cur{background:#c9dbeb}
.targetList{display:inline-block;padding-top:20px}
.targetList i{display:block;margin-bottom:15px;padding-left:5px}
.ExperimentTips{overflow:hidden;margin-bottom:20px;padding:10px;background:#f1f5f8}
.ExperimentTips p{float:left;padding:5px 0 0 10px;width:625px;color:#444;line-height:22px}
.ExperimentHelp{overflow:hidden;padding-bottom:20px}
.ExperimentHelp li{float:right;margin-left:25px}
.ExperimentHelp li a{color:#27a9e3}
#popAssessmentRadar .radarPic{padding:22px 0;text-align:center}
#popAssessmentRadar .radarPic h3{padding-bottom:15px;color:#666;font-weight:400;font-size:16px}
.popup .answer{padding:0;border:0}
.popup .answer .condition{background:0 0}
.popup .answer .conditionItem{padding-right:20px;padding-left:0}
.popup .answer .publicTable{padding:0;padding-bottom:20px}
.popup .answer textarea{width:100%}
#popAssess textarea{width:82px}
#popOperationTips p{padding-top:35px;line-height:200%}
.role{float:left;padding-top:38px;padding-left:30px}
.role span.tit{float:left;padding-top:70px}
.role .head{display:inline-block;width:64px;text-align:center}
.role .head .img{position:relative}
.role .head .img img{width:64px;height:64px}
.role .head strong{display:inline-block;padding-top:5px;color:#27a9e3}
.role .head strong span{display:inline-block;padding-top:5px}
.group{float:right;margin-bottom:20px;width:442px;height:258px;border:1px solid #c8c8c8;background:#fafafa}
.group .title{background:#f1f5f8;color:#444;text-align:center;font-size:16px;line-height:32px}
.groupList{text-align:center}
.groupList li{display:inline-block;padding:10px 12px}
.groupList .head{display:inline-block;width:57px;text-align:center}
.groupList .head .img{position:relative}
.groupList .head .img img{width:57px;height:57px}
.groupList .head strong{display:inline-block;padding-top:5px}
.groupList .head strong span{display:inline-block;padding-top:5px;font-weight:400;font-size:12px;font-family:"宋体"}
.publicTable{margin-top:20px}
#popStuTarget th{padding-right:5px}
.popup .publicTable th{text-align:center}
#popPersonal a.edit{padding-left:38px;color:#27a9e3}
#popResultSudoku .sudoku{margin-left:0}
#popStuTarget{padding-right:20px}
#popStuTarget table .chosen span{display:inline-block;padding:0 20px 20px 20px}
#popExperimentChoosee .publicTable{padding-top:20px}
#popExperimentChoosee th{padding-bottom:0}
#popExperimentChoosee td{padding-bottom:12px}
.dialogueBlock{overflow:auto;height:175px}
.dialogueItem .head{float:left;margin-top:20px;width:57px;text-align:center}
.dialogueItem .head .img{position:relative}
.dialogueItem .head .img img{width:57px;height:57px}
.dialogueItem{clear:both;padding-bottom:20px}
.dialogueItem.blue{float:left}
.dialogueItem.green{float:right}
.dialogueItem .Bubble{position:relative;float:left;margin-top:10px;padding:10px;width:185px;border-radius:8px;line-height:150%}
.dialogueItem .Bubble b{position:absolute;top:15px;width:7px;height:9px;background:url(../images/Bubble.png) no-repeat}
.dialogueItem.blue .Bubble{border:1px solid #bedce6;background:#def8ff}
.dialogueItem.green .Bubble{border:1px solid #a6e8ae;background:#e8ffde}
.dialogueItem.green .head{float:right}
.dialogueItem .dialogueRight{float:left;margin:0 15px}
.dialogueItem .name{color:#999}
.dialogueItem .name span{padding-left:10px;color:#b5b4b4}
.dialogueItem.blue .Bubble b{left:-7px}
.dialogueItem.green .Bubble b{right:-7px;background-position:0 -11px}
.send{overflow:hidden;padding-top:20px;width:100%}
.send .txt{position:relative;float:left;width:81%;height:24px}
.send button{position:relative;margin:0 15px;width:90px;height:34px;border:0;border-radius:5px;background:#27a9e3;box-shadow:0 2px 0 0 #1784be;color:#fff;text-align:center;font:14px/34px Microsoft YaHei;cursor:pointer}
.send button:hover{background:#1d90c3;box-shadow:0 2px 0 0 #1784be}
#popResourceSupport2 .dialogue{float:left;width:430px}
#popResourceSupport2 .answer .tit{padding-top:20px;width:100%;text-align:center}
#popResourceSupport2 .answer p{padding-bottom:0}
#popResourceSupport2 .dialogueBlock{float:left;width:420px}
#popResourceSupport2 .answer{float:right;width:255px}
#popResourceSupport2 .send .txt{width:66%}
#popCasting .ExperimentTips p{width:478px}
.casting{margin:0 auto;width:442px;height:258px;border:1px solid #c8c8c8;background:#fafafa;text-align:center}
.casting .head{display:block;margin-top:30px;padding-left:180px;width:85px;text-align:center}
.casting .head .img{position:relative}
.casting .head .img img{width:57px;height:57px}
.casting .head strong{display:inline-block;padding-top:10px}
.casting .head strong span{font-weight:400}
#popMovedKPIIndex{padding-right:10px}
.popDelete-ico{position:absolute;top:64px;left:147px;display:inline-block;width:40px;height:40px;background-position:0 -82px}
.popDelete{position:relative;padding-top:73px;padding-left:207px;width:293px;height:97px;color:#444;font-size:18px}
#popModify{padding-top:30px;padding-left:95px}
#popSettingPos{padding:30px 19px}
#popAddTeacher{padding-top:30px;padding-left:64px}
#popModifyTopic{padding-top:30px;padding-left:41px}
#popAddSection{padding-top:69px;padding-left:100px}
#popAddCaseModule{padding-top:60px;padding-left:40px}
#popBulkImport{padding-top:49px;padding-left:100px;border:none;border-radius:0;color:#666;text-align:left}
.popBulkImport-note{position:relative;top:20px;display:block;height:18px;color:#019e8d;line-height:17px}
.popBulkImport-note i{position:relative;top:4px;display:inline-block;overflow:hidden;margin-right:10px;width:18px;height:18px;background-position:-330px -120px}
#popHint01{padding-top:60px;padding-left:177px}
#popHint02{padding-top:60px;padding-left:97px}
#popCheckInfo{padding:0 20px}
#popCheckInfo p{padding:46px 20px 0 20px;color:#666;font-size:14px;line-height:24px}
#popCheckInfo p i{position:relative;top:4px;display:inline-block;width:18px;height:18px;background-position:-330px -150px}
#popCheckInfo table{margin-top:46px;width:760px;color:#666;vertical-align:middle;text-align:center;font-size:14px}
#popCheckInfo table th{height:38px;border:1px solid #e6d9d9;background:#efefef;font-weight:700;line-height:38px}
#popCheckInfo table td{height:49px;border:1px solid #efe9e9}
.popHint-warning{display:inline-block;margin-bottom:8px;width:310px;height:48px;background:url(../images/icons/warning.png) no-repeat;color:#444;text-indent:61px;font-size:18px;line-height:46px}
.popHint02-note{margin-left:61px;color:#ff9630}
.score-time{margin-bottom:12px;padding-top:30px;padding-left:20px;color:#666;font-weight:700;font-size:14px}
.score-time i{position:relative;top:4px;display:inline-block;margin:0 9px;width:20px;height:21px;background-position:-360px -120px}
.score-detail{position:relative;color:#444;text-align:center;font-size:14px;line-height:39px}
.score-detail p{position:relative;height:43px}
.score-detail p label{position:absolute;left:99px;l;width:130px;text-align:right;}
.score-detail p span{position:absolute;left:267px;color:#ff5858;font-size:24px;text-align:left;}
.see-again{position:absolute;top:200px;left:100px;color:#00b19e}
.score-tit{font-size:18px}
#popEditPoint{padding:30px 20px 0}
#popEditPoint span{color:#666}
#popNotScore{padding-top:17px;padding-left:20px}
#popCheckGraph{padding-top:30px;padding-left:39px}
#popAddWelfare{padding:14px 70px 0 70px}
#popAddPos{padding:30px 19px}
#popHelp{padding:14px 20px 0}
#popAddSection td p{position:absolute;top:50px;left:9px;color:#ff6f61}
#popModifyTopic .select-items ul,#popModifyTopic .single-select .boxwrap{width:358px}
.ml0{margin-left:0}
.ml9{margin-left:9px}
.popup textarea.ml6{margin-left:6px;height:130px;color:#c7c7c7}
.ml31{margin-left:31px}
.ml36{margin-left:36px}
.ml40{margin-left:40px}
.mr60{margin-right:60px}
.ml6{margin-left:6px}
.ml{margin-left:0}
.ml20{margin-left:20px}
.ml100{margin-left:100px}
.pb0{padding-bottom:0}
.mt22{margin-top:22px}
.mt10{margin-top:10px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.col-module .mb25{margin-bottom:25px}
.mt50{margin-top:50px}
.mt40{margin-top:40px}
.mb40{margin-bottom:40px}
b{font-weight:400}
.w358{width:358px}
.w348{width:348px}
.w225{width:225px}
.w420{width:420px}
.w408{width:408px}
.w418{width:418px}
.w511{width:511px}
.h62{height:62px;line-height:62px}
.top-menu li a b.h25{height:25px}
.addpos table td input.w97p{margin-left:3%;width:97%}
.pt40{padding-top:40px}
.pl200{padding-left:200px}
.pb54{padding-bottom:54px}
.pb20{padding-bottom:20px}
.pl0{padding-left:0}
.pt10{padding-top:10px}
.conditionItem .search .txt.ml0{margin-left:0}
span.tag{margin-left:5px;color:#999;line-height:32px}
.fl{float:left}
.fr{float:right}
.txtc{text-align:center}
.txtl{text-align:left}
.popup textarea.w393{margin-left:9px;width:393px}
.testManager td a{margin-right:4%;margin-left:6%}
.addpos table td input,.questionnaireManager table td input{margin-top:9px;margin-right:6%;margin-bottom:9px;margin-left:6%;width:88%;height:30px;border:1px solid #c8c8c8;text-align:center;line-height:30px;line-height:1;line-height:30px\9}
.addpos-table.keys{table-layout:auto}
.addpos-table.keys{table-layout:auto}
.popup table.casetitle td input{width:408px;text-align:left}
.popup table.addpos-table td select{margin:9px 6%;width:88%;height:30px;border:1px solid #c8c8c8;text-align:center}
.posnamager{margin-bottom:40px;padding-top:40px;padding-bottom:54px;padding-left:200px}
.addpos2{margin-bottom:40px;padding-top:20px;padding-bottom:57px;padding-left:50px}
.addpos{margin-bottom:40px; padding:20px 50px 57px 50px;}
.addpos-table{width:100%;border:1px solid #efe9e9;table-layout:fixed;text-align:center;font-size:14px}
.addpos-table.normal{table-layout:auto}
.addpos table th{height:38px;text-align:center}
.addpos table.addpos-table th{padding-bottom:0;border:1px solid #e2dfdf;background:#efefef;font-weight:700;word-break:break-all}
.addpos table.normal th{font-weight:400}
.addpos table.addpos-table td{position:relative;padding-bottom:0;height:50px;border:1px solid #e2dfdf}
.checkcase{margin-bottom:40px; padding:30px 50px 40px 50px;}
.checkcase p.title{font-size:16px}
.stem{position:relative;margin-bottom:20px;font-weight:400;font-size:14px}
.stem b{display:inline-block;margin-right:6px;color:#ff6f61}
.stem input{margin-left:12px;width:410px;height:30px;border:1px solid #c8c8c8;text-indent:10px;line-height:30px}
p.analyze{margin-top:29px;margin-bottom:19px}
.Preview{margin-bottom:82px;padding-bottom:68px}
p.Preview-title{margin-top:28px;color:#444;text-align:center;font-size:16px}
h2.title{margin:51px 0 20px;font-weight:700;font-size:14px}
.answerItem h2:first-child{margin-top:18px}
.answerItem table{border:1px solid #ebe4e4;table-layout:fixed;text-align:center}
.answerItem table td,.answerItem table th{border:1px solid #efe9e9}
.answerItem table th{height:38px;background:#efefef;text-align:center}
.checkcase h2{margin-top:33px}
.answerItem textarea{width:873px;height:212px}
p.textarea{overflow-y:scroll;padding:10px 15px 0 15px;width:868px;height:458px;border:1px solid #c8c8c8;color:#888;text-indent:2em;letter-spacing:.6px;font-size:12px;font-family:simsun;line-height:19px}
.checkcase table{border:1px solid #efe9e9;border-top:0;table-layout:fixed;text-align:center;font-size:14px}
.questionnaireManager table th{padding-bottom:0}
.questionnaireManager table td{padding-bottom:0}
.checkcase table th{padding:12px 5px;border:1px solid #efe9e9;color:#019e8d;text-align:center;line-height:22px}
.checkcase table td{padding:12px 5px;border:1px solid #efe9e9;line-height:22px}
.questionnaireManager{margin-bottom:40px;padding-top:20px;padding-right:50px;padding-bottom:40px;padding-left:50px}
.questionnaireManager table th{font-weight:700}
span.percent{display:block;margin-top:9px;margin-left:10px;line-height:32px}
.bold{font-weight:700}
.bold b{margin-right:5px;color:#ff6f61}
.popup.posnamager .single-select .boxwrap{width:418px}
.popup.posnamager .select-items ul{width:418px}
.txtl{text-align:left}
.txtl2{text-align:left;text-indent:17px}
@media screen and (max-width:1024px){.txtl2{text-indent:-1px}
	.testManager td a{margin-right:1%;margin-left:1%}
}
@media screen and (min-width:1025px) and (max-width:1281px){.txtl2{text-indent:10px}
	.testManager td a{margin-right:1%;margin-left:2%}
}
@media screen and (min-width:1281px) and (max-width:1441px){.txtl2{text-indent:15px}
	.testManager td a{margin-right:4%;margin-left:2%}
}
@media screen and (min-width:1440px) and (max-width:1680px){.txtl2{text-indent:5px}
	.testManager td a{margin-right:5%;margin-left:6%}
}
@media screen and (min-width:1680px) and (max-width:1920px){.txtl2{text-indent:18px}
	.testManager td a{margin-right:9%;margin-left:4%}
}
.txtc button,.txtl button{display:inline-block;padding:0 33px;height:36px;outline:0;border:none;border-radius:5px;background:#9eb7ce;box-shadow:0 2px 0 0 #91aac2;color:#fff;text-align:center;font:14px/34px Microsoft YaHei;cursor:pointer}
.posnamager-button{margin-left:180px}
button.confirm{background:#01d5be;box-shadow:0 2px 0 0 #01c3b9}
button.confirm:hover{background:#01b3a0;box-shadow:0 2px 0 0 #01a49b;color:#fff;border-bottom-color:#01a49b}
button.cancel{margin-left:36px}
button.cancel:hover{background:#a4adb7;box-shadow:0 2px 0 0 #97a1ac}
.option{margin-bottom:20px;border-bottom:1px solid #dedede}
.option b{float:left;display:block;width:65px;height:30px;color:#666;text-align:center;font-weight:700;line-height:30px}
.option b.option-ed{position:relative;top:1px;border-bottom:1px solid #0cd7c4;color:#00b29f;line-height:29px}
.settingPos ul{display:inline-block}
.settingPos ul li{float:left;margin-right:27px}
.popup table th.pb0{padding-bottom:0}
#popAddTeacher .classItem{overflow-y:scroll;margin-left:9px;padding:10px 0 0 9px;width:429px;height:120px;border:1px solid #c8c8c8}
#popAddTeacher .classItem li{float:left;padding-bottom:11px;width:137px;height:20px}
#popAddCaseModule a{float:left;display:block;margin-right:20px;width:140px;height:40px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#01c8ba;color:#fff;text-align:center;line-height:40px}
#popQuestionnaire div,#popSalarySurvey div{float:left}
#popQuestionnaire .title,#popSalarySurvey .title{display:block;width:100%;height:36px;background:#f4f5f6;color:#666;text-indent:19px;line-height:36px}
#popQuestionnaire .answer,#popSalarySurvey .answer{padding-left:40px}
#popQuestionnaire .answer a,#popSalarySurvey .answer a{float:left;display:block;margin-right:72px;height:45px;line-height:45px}
#popQuestionnaire{padding:0 0}
#popQuestionnaire p.caption{float:left;margin-top:30px;margin-bottom:20px;width:100%;color:#666;text-indent:20px;font-weight:700;font-size:16px}
#popSalarySurvey{padding:30px 0}
#popSurveyType{padding-top:87px;padding-left:35px}
#popAddCaseModule a,#popSurveyType a{float:left;display:block;margin-right:20px;margin-bottom:20px;width:130px;height:40px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#01c8ba;color:#fff;text-align:center;line-height:40px}
#popAddPos .boxwrap,#popModify .boxwrap,#popSettingPos .boxwrap{width:225px}
#popAddPos .select-items ul,#popModify .select-items ul,#popSettingPos .select-items ul{width:225px}
#popModify .boxwrap .select-tit{text-indent:2px}
#popAddModule .popup .select-items ul{width:358px}
.answerItem textarea.h112{height:112px}
.popup table th.bold{font-weight:700}
h2.title b{margin-right:5px;color:#ff7575}
.functionBtn ul span{color:#019e8d;font-size:16px}
.green{color:#019e8d}
#popAddTeacher td input{text-align:left}
.questionnaireManager table td.w408 input{width:408px;text-align:left}
.questionnaireManager table td.w225 input{width:225px;text-align:left}
#popAddModule table td{padding-bottom:17px}
p.font14{font-size:14px}
.addpos table.Classify td:nth-child(1){border-right:0 solid #f18c20}
.addpos table.addpos-table td.boder-r-none{border-right:none}
.addpos table.addpos-table td.boder-l-none{border-left:none}
.addpos table.addpos-table th.boder-r-none{border-right:none}
.addpos table.addpos-table th.boder-l-none{border-left:none}
.questionnaireManager table td.boder-r-none{border-right:none}
.questionnaireManager table td.boder-l-none{border-left:none;text-align:center}
.level-setting{margin:20px 0}
td.cyan{border:1px solid #efe9e9;background:#bfe1dd}
td.cyan-click{border:1px solid #efe9e9;background:#6ad2c7 url(../images/sprite.png) -330px -210px no-repeat}
.popup .single-select.classify .boxwrap{width:253px}
.popup .classify .select-items ul{width:253px}
#popAddclass .single-select .boxwrap{width:527px}
#popAddclass .single-select .boxwrap.focus ul{width:527px}
td i.minus{display:inline-block;margin-right:8px;width:14px;height:14px;background-position:-330px -14px;cursor:pointer}
p.stem i.minus{position:absolute;right:-20px;bottom:1px;display:inline-block;width:14px;height:14px;background-position:-330px -14px;cursor:pointer}
td i.add{display:inline-block;width:14px;height:14px;background-position:-330px 0;cursor:pointer}
dl.category{margin-top:40px}
dl.category h2{color:#666;text-indent:20px;font-size:16px}
dl.category dt{padding:20px 20px 0 20px;background:#f4f5f6;color:#666;text-indent:29px;line-height:36px}
dl.category dd{padding-top:13px;padding-bottom:5px}
div.rate{position:absolute;right:149px;display:inline-block;width:287px;color:#999;white-space:nowrap}
div.rate span{position:relative;top:3px;left:20px;display:inline-block;width:116px;height:16px;border-radius:2px;line-height:16px}
div.rate span.a{border:1px solid #58c9f3;background:#6bd3fa}
div.rate span.b{border:1px solid #fb9389;background:#fea49b}
div.rate span.c{border:1px solid #47dece;background:#5beadb}
div.rate span.d{border:1px solid #fed099;background:#ffe1b5}
div.rate span.e{border:1px solid #c3abf7;background:#ccb9f7}
div.rate span.f{border:1px solid #fed099;background:#ffe1b5}
div.rate i{position:relative;top:0;left:30px;display:inline-block;height:16px;color:#51bfe8;line-height:16px}
div.Optionen{position:relative;margin-bottom:10px;padding-left:62px;color:#666;line-height:24px}
.Preview div.Optionen>span{position: relative;display:inline-block;width: 470px;}
.workbench-lump div.Optionen{padding-left:43px}
.testManager{margin-top:20px}
.testManager table{border:1px solid #ebe4e4;border-top:0;table-layout:fixed;text-align:center;font-size:14px}
.testManager table td,.testManager table th{border-top:solid 1px #efe9e9;border-bottom:solid 1px #efe9e9}
.testManager th{border-top:1px solid #ebe4e4;border-bottom:1px solid #ebe4e4;background:#efefef;color:#666;font-size:16px;line-height:45px}
.testManager td{padding:12px 5px;background:#fff;font-family:"宋体";line-height:21px}
.testManager tr:hover{position:relative;border-left:3px solid #02d5c2}
.testManager tr:hover td{border-top:1px solid #d5edeb;border-bottom:1px solid #d5edeb;background:#e2f7f0}
.testManager tr.hd:hover{border-left:0 solid #02d5c2}
.testManager td b{display:inline-block;width:21%;font-family:"Microsoft YaHei"}
td span.grade{position:relative;display:inline-block;cursor:pointer}
td i.num{position:absolute;top:-4px;right:-18px;display:inline-block;padding:2px 5px;height:10px;border-radius:42%;background:#ff6f61;color:#fff;text-align:center;font-size:12px;font-family:"宋体";line-height:10px}
.progress{position:relative;top:-1px;display:inline-block;margin-right:10px;width:63px;height:8px;border-radius:10px;background:#e5e5e5}
.progress-bar{display:block;height:8px;border-radius:10px;background:#01d4c5}
span.red-star{position:absolute;top:20px;left:4px;color:#ff6f61}
.p-aui_buttons{padding:20px 0 0;border-top:1px solid #eceeef;border-radius:5px;background:#f4f5f6;text-align:center;white-space:nowrap}
#popScore{border-radius:5px}
