<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <title>404 - Page Not Found</title>
<script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/404.css}"/>
</head>
<body>
<div id="main">
    <header id="header">
        <h1><span class="icon">!</span>404<span class="sub">页面未找到</span></h1>
    </header>
    <div id="content">
        <h2>您所请求的页面无法找到</h2>
        <p>服务器无法正常提供信息。<br/>目标页面可能已经被更改、删除或移到其他位置，或您所输入页面地址错误。</p>
        <div class="utilities">
            <a class="button right" href="tencent://message/?uin=2587038142&amp;site=发送信息&amp;menu=yes">联系我们</a>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>